/* --Fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}
/* --first page*/
#main_first{
    width: 100%;
    height: 750px;
    background-image: radial-gradient(circle, #122542, #0a213a, #051e31, #031928, #001520);
    overflow-x : hidden;
    overflow-y: hidden;
    color: white;
}
/* --header--*/
#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
#logo {
    font-size: 2rem;
    padding: 1rem;
    color: red;
}

/* --navbar--*/
#navbar{
    margin-right: 170px;
}
#navbar>ul {
    width: 100%;
    list-style: none;
    display: flex;
    margin-top: 30px;
}
#navbar>ul>li>a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    transition: .5s;
    width: 100%;
    padding: 50px;
}
#navbar>ul>li>a:hover {
    color: red;
}
/* --intro--*/
#intro {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 200px;
    margin-left: 200px;
}
#intro_text {
    text-align: left;
    width: 450px;
    margin-right: 200px;
}
#intro_text>h1 {
    font-size: 48px;
    line-height: 50px;
}
#intro_text>p {
    font-size: 16px;
    margin-top: 20px;
}
#intro_img {
    width: 500px;
    height: 250px;
    border-radius: 8px;
}
#intro_btn {
    margin-top: 20px;
    width:105px;
    height:35px;
    background: #0400ff;
    border: none;
    border-radius: 7px;
    font-weight: 600;
}
#intro_btn:hover {
    cursor: pointer;
    background-color: #0000e8;
}
/* --second--*/
#main_second {
    background-image: linear-gradient(to left bottom, #d4d4d4, #bcbcbc, #a5a5a5, #8f8f8f, #797979);
    color: black;
}
#main_second>h1{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.random_images{
    display: flex;
    flex-direction: row;
    
}
.random_images>img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
#random{
   
}
.random_images>p {
    font-size: 12px;
    text-align: center;
}